_{
    padding:0;
    margin:0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color:rgb(255, 255, 255);
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices{
    margin-top: 5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

img {
    height: 150px;
    width: 150px;
    object-fit:cover;
    border-radius: 50%;
    
  }
  .choice:hover {
    cursor: pointer;
     background-color: #081b31;
  }

  .score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 4rem;
    gap:5rem;
    
 }

 
#user-score,#comp-score{
    font-size: 5rem;
 
}
 .msgcontainer{
    display:flex;
    justify-content: center;
    align-items: end;

 }



#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }

  #msg:hover {
    cursor: pointer;
     background-color: #e016ad;
  }
  
 

